<div class="help js-help">
  <table border="1" class="help-table">
    <tr>
      <td>&lt;br&gt;</td>
      <td> new line</td>
    </tr>
    <tr>
      <td>&lt;b&gt;bold text&lt;/b&gt;</td>
      <td> <b>bold text</b> </td>
    </tr>
    <tr>
      <td>&lt;i&gt;italic text&lt;/i&gt;</td>
      <td> <i>italic</i> </td>
    </tr>
    <tr>
      <td>&lt;ul&gt;&lt;li&gt;plan 1&lt;/li&gt;&lt;li&gt;plan 2&lt;/li&gt;&lt;/ul&gt;</td>
      <td> <ul><li>plan 1</li><li>plan 2</li></ul></td>
    </tr>
    <tr>
      <td>&lt;del&gt;deleted text&lt;/del&gt;</td>
      <td> <del>deleted text</del> </td>
    </tr>
    <tr>
      <td>&lt;a href=&quot;http://example.com&quot;&gt;link&lt;/a&gt;</td>
      <td><a href="http://example.com">link</a></td>
    </tr>
    <tr>
      <td>&lt;a href=&quot;http://example.com&quot; target=&quot;_blank&quot;&gt;link&lt;/a&gt;</td>
      <td><a href="http://example.com" target="_blank">link, openned in new tab</a></td>
    </tr>
  </table>
</div>
