<div class="i18n-text-editor js-i18n-text-editor" data-save-path="<%= save_translation_path %>">
  <%= javascript_include_tag "edit_i18n_database_translations" %>
  <%= stylesheet_link_tag "edit_i18n_database_translations"%>
  <div class="background"></div>
  <input class="input js-input" />
  <div class="button js-save">Save</div>
</div>
